<!-- <ion-card *ngFor="let item of listArr" [navPush]="ApproveDetailsPage" [navParams]="{'id':item['id']}"> -->
    <ion-card *ngFor="let item of todoList" (tap)="goDetails()">
        <ion-card-content>
            <ion-item class="clearfix" no-padding>
                <div class="clearfix">
                    <div class="list-left">
                        <div>{{item.todoList}}</div>
                        <div>{{item.commentCount}}</div>
                     </div>
                     <div class="list-right">
                         <div>{{item.title}}</div>
                         <div>{{item.publishTime}}</div>
                     </div>
                </div>
                <div class="list-detail">
                  <p>{{item.content}}</p>
                </div>
              </ion-item>
        </ion-card-content>
    </ion-card>
    